extends layout

block content
  mixin api_modal
     a(onClick='close_api()' class='modal-overlay' aria-label='Close')
     div(class='modal-container')
      div(class='modal-header')
        button(onClick='close_api()' class='btn btn-clear float-right' aria-label='Close')
        div(class='modal-title h5') Regenerate API Keys
      div(class='modal-body')
        div(class='content')
          if api_incorrect
            p(class='toast toast-error' id='api_incorrect') Password incorrect.
          if api_error
            p(class='toast toast-error' id='api_error') An error occurred, please try again later.
          p(class='toast toast-error') This will regenerate your API keys which will invalidate the old keys!
          p Type your password to confirm this action:
          form(action='/account/regen_api' method='post')
            div(class='input-group')
              input(type='password' name='api_password' id='api_password' class='form-input' placeholder='Password')
            input(type='submit' class='btn btn-primary' style='width: 100%' value='REGENERATE KEYS')
      div(class='modal-footer')

  if api_error
    div(class='modal modal-sm active' id='api_regenerate')
      +api_modal
  else if api_incorrect
    div(class='modal modal-sm active' id='api_regenerate')
      +api_modal
  else
    div(class='modal modal-sm' id='api_regenerate')
      +api_modal

  script.
    function close_api() {
      console.log("in close_api");
      document.getElementById("api_regenerate").classList.remove("active");
    }
    function open_api() {
      document.getElementById("api_regenerate").classList.add("active");
    }
    function show_error() {
    console.log("in show_error");
      document.getElementById("api_error").style.display = "block";
    }
  div(class='panel column col-7 col-xs-12' style='margin: auto;')
    div(class='panel-header')
      div(class='panel-title h2') Account
      if api_success
        p(class='toast toast-success animated fadeOut delay-5s' id='api_success') Keys generated successfully.
      if pass_success
        p(class='toast toast-success animated fadeOut delay-5s' id='pass_success') Password changed successfully.
      if pass_incorrect
        p(class='toast toast-error animated fadeOut delay-5s' id='pass_incorrect') Old password incorrect.
      if pass_error
        p(class='toast toast-error animated fadeOut delay-5s' id='pass_error') An error occurred, please try again later.
      if pass_nomatch
        p(class='toast toast-error animated fadeOut delay-5s' id='pass_nomatch') The new password did not match.
    div(class='panel-nav')
      ul(class='tab tab-block')
        li(class='tab-item active')
          a(onClick='switch_tab(this)' id='general') General
        li(class='tab-item')
          a(onClick='switch_tab(this)' id='api') API
        li(class='tab-item')
          a(onClick='switch_tab(this)' id='security') Security
    div(class='panel-body' id='items')
      div(id='general' style='display: block;')
        h4(class='h4') Account Info
        div(class='input-group')
          span(class='input-group-addon' style='width: 10ch;') Username
          input(type='text' class='form-input' value=username)
        div(class='input-group')
          span(class='input-group-addon' style='width: 10ch;') Email
          input(type='text' class='form-input' value=email)
      div(id='api' style='display: none;')
        h4(class='h4') API Keys
        div(class='input-group')
          span(class='input-group-addon' style='width: 11ch;') Public Key
          input(type='text' class='form-input' value=api_public style='font-family: Monospace;')
        div(class='input-group')
          span(class='input-group-addon' style='width: 11ch;') Secret Key
          input(type='password' name='secret' id='secret' class='form-input' value=api_secret style='font-family: Monospace;')
          a(class='btn btn-primary input-group-btn' onClick='show()')
            i(class='fa fa-eye-slash' id='toggle')
        br
        button(class='btn btn-primary' onClick='open_api()' style='width: 100%;') Regenerate Keys
          script.
            function show() {
              var x = document.getElementById("secret");
              var y = document.getElementById("toggle");
              if (x.type === "password") {
                x.type = "text";
                y.classList.remove("fa-eye-slash");
                y.classList.add("fa-eye");
              } else {
                x.type = "password";
                y.classList.remove("fa-eye");
                y.classList.add("fa-eye-slash");
              }
            }
      div(id='security' style='display: none;')
        h4(class='h4') Change Password
        form(action='/account/change_password' method='post')
          div(class='input-group')
            span(class='input-group-addon' style='width: 16ch;') Old Password
            input(type='password' name='old_password' class='form-input')
          div(class='input-group')
            span(class='input-group-addon' style='width: 16ch;') New Password
            input(type='password' name='new_password' class='form-input')
          div(class='input-group')
            span(class='input-group-addon' style='width: 16ch;') Repeat Password
            input(type='password' name='repeat_password' class='form-input')
          br
          input(type='submit' class='btn btn-primary' value='Change Password' style='width: 100%')
    div(class='panel-footer')
    script.
      function switch_tab(e) {
        var children = e.parentElement.parentElement.children;
        for (var i = 0; i < children.length; i++) {
          children[i].classList.remove('active');
        }
        e.parentElement.classList.add('active');
        var items = document.getElementById('items').children;
        for (var i = 0; i < items.length; i++) {
          if (items[i].id == e.id) {
            items[i].style.display = 'block';
          } else {
            items[i].style.display = 'none';
          }
        }
      }
