extends layout

block content
  script(src='https://hcaptcha.com/1/api.js' async defer)
  div(class='panel column col-4 col-xs-12' style='margin: auto;')
    div(class='panel-header')
      div(class='panel-title')
        h2(style='text-align: center;') Reset Your Password
    div(class='panel-body')
      form(action='/login' method='post' class='form-group')
        div
          label(class="form-label") Enter your email:
          input(type='email' name='email' placeholder='email@example.com' class="form-input")
        div
          br
          div(class='h-captcha' data-sitekey='a52487fc-7531-4942-839c-5ac4c2f382e5' data-callback="enable")
          script.
            function enable() {
              document.getElementById('submit').disabled = false;
            }
          br
          input(type='submit' id='submit' value='Send Reset Link' class='btn btn-primary' disabled style='width: 100%;')
    div(class='panel-footer')
      div(class='container')
        div(class='columns')
          div(class='column col-lg-auto col-6')
            a(href='/signup' class='btn btn-link') Create Account
          div(class='column' style='text-align: right;')
            a(href='/forgot_api' class='btn btn-link') Reset Using API Keys
