doctype html
html
  head
    include meta.pug
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/include/fontawesome/css/all.min.css')
    script(src='/scripts/jquery.js')
    script(src='/scripts/jquery.mask.js')
    script(src='/scripts/common.js')
  body
    header(class='navbar')
      section(class='navbar-section')
        a(href='/', class='navbar-brand mr-2')
          h1(class='title') Spacebars
      section(class='navbar-section')
          h3(class='h3') Pre-Alpha
          br
          h1(class='h1') DO NOT USE
      section(class='navbar-section')
        if logged_in
          a(href='/dashboard', class='btn btn-link') Dashboard
          a(href='/account' class='btn btn-link') Account
          a(href='/logout', class='btn') Logout
        else
          a(href='/', class='btn btn-link') Home
          a(href='/login', class='btn') Login
  block content
  footer(class='navbar')
    section(class='navbar-section')
      a(href='https://doslabelectronics.com') &copy;2020 DosLab Electronics, LLC
    section(class='navbar-section')
      a(href='/privacy') Terms/Privacy
