extends layout

block content
  div(class='panel column col-4 col-xs-12' style='margin: auto;')
    div(class='panel-header')
      div(class='panel-title')
        h2(style='text-align: center;') Log In
    div(class='panel-body')
      form(action='/login' method='post' class='form-group')
        div
          label(class="form-label") Username:
          input(type='text' name='username' placeholder='email@example.com' class="form-input")
        div
          label(class="form-label") Password:
          input(type='password' name='password' placeholder='Password' class='form-input')
        div
          br
          input(type='submit' value='Log In' class='btn btn-primary' style='width: 100%;')
    div(class='panel-footer')
