extends layout

block content
  div(class='panel column col-4 col-xs-12' style='margin: auto;')
    div(class='panel-header')
      div(class='panel-title')
        h2(style='text-align: center;') Login
      if failed
        div(class='toast toast-error') Username or password incorrect.
    div(class='panel-body')
      form(action='/login' method='post' class='form-group' id='login')
        div(class='input-group')
          span(class='input-group-addon' style='width: 10ch;') Username
          input(type='text' name='username' class="form-input")
        div(class='input-group')
          label(class='input-group-addon' style='width: 10ch;') Password
          input(type='password' name='password' id='password' class='form-input')
          a(class='btn btn-primary input-group-btn' onClick='show()')
            i(class='fa fa-eye-slash' id='toggle')
          script.
            function show() {
              var x = document.getElementById("password");
              var y = document.getElementById("toggle");
              if (x.type === "password") {
                x.type = "text";
                y.classList.remove("fa-eye-slash");
                y.classList.add("fa-eye");
              } else {
                x.type = "password";
                y.classList.remove("fa-eye");
                y.classList.add("fa-eye-slash");
              }
            }
        div
          br
          button(class='h-captcha btn btn-primary' style='width: 100%;' data-sitekey='a52487fc-7531-4942-839c-5ac4c2f382e5' data-callback='submit') Login
          script.
            function submit(token) {
              document.getElementById("login").submit();
            }
    div(class='panel-footer')
      div(class='container')
        div(class='columns')
          div(class='column col-lg-auto col-6')
            a(href='/signup' class='btn btn-link') Create Account
          div(class='column' style='text-align: right;')
            a(href='/forgot' class='btn btn-link') Forgot Password?
