meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='language' content='EN')
meta(name='description' content='A copy-paste resilient anti-plagiarism tool.')
meta(name='copyright' content='DosLab Electronics, LLC')
meta(name='coverage' content='Worldwide')
meta(name='distribution' content='Global')
