$primary-color: #9c5518;
$secondary-color: #313131;
$dark-color: #414141;
$light-color: #ededed;
$grey-dark-color: #313131;
$grey-light-color: #616161;
//$border-color: #525252;

@import 'spectre/src/spectre';
@import 'fonts.scss';
@use 'animate/animate.min.css';

body {
    font-family: 'Archivo', $body-font-family;
}

header {
    padding: 5px;
}

.title {
    font-family: 'Sans Forgetica';
}

.post-content {
    padding: 5px;
    margin: 5px;
}

a.spacebar {
    line-height: 1px;
    height: 1px;
}

table.dataTable {
    thead {
        background-color: $border-color;
        color: $dark-color;
    }
    tfoot {
        background-color: $border-color;
        color: $dark-color;
    }
    background-color: $light-color;
    color: $secondary-color;
}

.dataTables_wrapper {
    @extend .form-group;
    input {
        @extend .form-input;
        width: auto;
    }
    select {
        @extend .form-select;
        width: auto;
        -webkit-appearance: none;
    }
    label {
        @extend .form-label;
        color: $dark-color;
        width: auto;
    }
    color: $dark-color;
}

.dataTables_paginate {
    color: $dark-color !important;
}

.paginate_button {
    color: $dark-color !important;
    background: none !important;
}

.btn-copy {
    height: 1rem;
}
